@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    
}

/* Home Sections */

body{
    color:#ededed;
    background-color: #081b29;
}

/* navigation */


.navbar li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin-right: 25px;
   
}

/* css to reset all the designs */

/* add styles on elements */

.header {
    border-bottom: 1px solid #E2E8F0;
    background-color:#081b29;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    
}

.hamburger {
    display: none;
}

.bars {
    display: block;
    border-radius: 8px;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #101010; */
    background-color: cyan;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    transition: .3s;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.nav-link {
    /* font-size: 1.6rem; */
    font-size: 1.5rem;
    font-weight: 400;
    /* color: #475569; */
    color: #fff;
    transition: .5s;
    /* change */
}

.nav-link:hover {
    color: cyan;
    border-bottom: 4px solid cyan;
}

.nav-logo {
    text-decoration: none;
    border: none;
    outline: none;
    /* font-size: 2.1rem; */
    font-size: 2rem;
    font-weight: 500;
    /* color: #482ff7; */
    color: #fff;
    opacity: 0;
    animation: slideleft 2s ease forwards;
    animation-delay: calc(.2s*var(--i));
}













/* navigation */


.home{
    position: relative;
    width: 100%;
    justify-content:space-between;
    height: 100vh;
    background:url("../img/desktop.png") no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    padding: 200px 10% 0;
}

.home-content{
    max-width: 600px;

}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slidetop 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 span {
    color:#0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin:-3px 0;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 3px solid #0ef;
    border-radius: 50%;
    font-size: 35px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    transition:0.5s;
    
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    margin-right: 10px;

}


.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}


@keyframes slideright{
    0%{
      transform: translateX(-100px);
      opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideleft{
    0%{
      transform: translateX(100px);
      opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slidetop{
    0%{
        transform: translateY(100px);
        opacity: 0;
      }
      100%{
          transform: translateY(0px);
          opacity: 1;
      }
}

@keyframes slidebottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
      }
      100%{
          transform: translateY(0px);
          opacity: 1;
      }
}

/* Home Sections */

/* about section */

.about{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   gap: 1.5rem;
   margin: 0 10%;
}

.about-img img{
    padding-bottom:20% ;
    max-width: 630px;
    width: 100%;
    border-radius:50%;
    margin-top: 100px;
    animation: jump 1s ease infinite;

}

.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


@keyframes jump {
    0%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}


/* Academic joureny */

.Education{
  width: 100vw;
  margin:0px;
  padding-top:130px;


}

.Education .education-topic h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
 
    
}

.Education .education-topic i{
    font-size: 60px;
    font-weight:200;   
}


.education-topic h2 span{
    color: #0ef;
}

.education-flex{
    display: flex;
    width: 100vw;
    justify-content:center;
    flex-wrap: wrap;
    gap:50px;
    
}

.eduction-card{
 width: 600px;
 background-color: cyan;
 color:#081b29;
 padding:40px 30px;
 outline: none;
 border:none;
 position: relative;
 cursor: pointer;
 border-radius: 30px;
 box-shadow: cyan 0px 2px 4px 0px,
     cyan 0px 2px 16px 0px;
transition:.5s transform;
transition: all .5s;


}

.edu-experience-topic{
    display:flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.edu-experience-topic img{
 width: 60px;
}

.edu-experience-topic h3{
    font-size:28px;
    letter-spacing: 2px;
}

.company-about h4{
    font-size:24px;
    letter-spacing: 0px;
    
}
.company-about h5{
    font-size:20px;
    letter-spacing: 0px;
    font-weight:600;
    
}

.company-about p{
    font-size: 18px;
}

.hover-icon i{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    font-size: 22px;
    font-weight: 400;
}

.eduction-card:hover{
    box-shadow: white 0px 2px 4px 0px,
     white 0px 2px 16px 0px;
    background-color: white;
}

.eduction-card:hover .hover-icon i{
    transform: translateX(5px);
}

.book h3{
    margin-bottom: -15px;
}


.college h3{
font-size:24px;
}

.college h4{
    font-size:20px;
    letter-spacing: 0px;
    font-weight:600;
}

.college h5{
    text-align:right;
    font-size: 19px;
    font-weight:400;
}

.college p{
    font-size: 18px;
     
}
.education-clg-sch{
    margin-bottom: 10px;
}





/* Academic joureny */

/* skills */

.sub-title{
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    padding-top:120px;
}
.sub-title span{
    color: #0ef;
}


/* skills */

.section-skill{
    display: flex;
    flex-wrap: wrap;

}

.container1{
    width: 600px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset:10px;
    text-decoration-thickness: 5px;
    margin: 50px;
}

.bar{
    font-size:23px;
}
.Technical-bar .bar{
   margin-top: 40px 0;
}

.Technical-bar .bar:first-child{
    margin-top: 0;
}

.Technical-bar .bar:last-child{
    margin-bottom: 0;
}

.Technical-bar .bar .info{
    margin-bottom: 5px;
}

.Technical-bar .bar .info span{
    font-size:17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}

.progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    margin-bottom: 30px;
    transform-origin: left;
    transform: scaleX(0);
    animation:anana 1s linear forwards;

}

.progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    transform: scale(0);
    animation:anana 1s 1s linear forwards;
}

@keyframes anana{
    100%{
        transform:scaleX(1);
    }
}

.progress-line.html span{
    width: 95%;
}

.progress-line.sass span{
    width: 90%;
}

.progress-line.css span{
    width: 60%;
}

.progress-line.javascript span{
    width:50%;
}

.progress-line.react span{
    width:30%;
}

.progress-line.python span{
    width:75%;
}

.progress-line.mongo span{
    width: 90%;
}

.progress-line.git span{
    width:80%;
}

.progress-line.github span{
    width: 80%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
    content:"95%";
}

.progress-line.sass span::after{
    content:"90%";
}

.progress-line.css span::after{
    content: "60%";
}

.progress-line.javascript span::after{
    content: "50%";
}

.progress-line.react span::after{
    content: "30%";
}

.progress-line.python span::after{
    content: "75%";
}

.progress-line.mongo span::after{
    content:"90%";
}

.progress-line.git span::after{
    content:"80%";
}

.progress-line.github span::after{
    content:"80%";
}

.progress-line span::before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity:0;
}

@keyframes showtext{
    100%{
     opacity: 1;
    }
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
   
}

.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;

}

.path-1{
    animation: animate-path1 1s 1s linear forwards;
}

.path-2{
    animation: animate-path2 1s 1s linear forwards;
}

.path-3{
    animation: animate-path3 1s 1s linear forwards;
}

.path-4{
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset:50;
    }
}

@keyframes animate-path2{
    100%{
        stroke-dashoffset:175;
    }
}

@keyframes animate-path3{
    100%{
        stroke-dashoffset:50;
    }
}

@keyframes animate-path4{
    100%{
        stroke-dashoffset:75;
    }
}

.radial-bar .percentage{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-size: 20px;
   animation: showtext 0.5s 1s linear forwards;
   opacity: 0; 
}

.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 20px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;

}

/*********** project ************/

.project{
    width: 100vw;
}
.main-text{
    padding:100px 100px 150px;
}

.main-text h2{
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin:100px auto 50px;
}
.main-text span{
    color: #0ef;
}

.porfolio-content{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(356px,auto));
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width: 100%;
    height: 300px;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}







.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    transition: hight 0.5s;

}

.layer h5{
    color: white;
    font-size: 25px;
    font-weight:600;
    margin-bottom: 15px;
    color:cyan;
}

.layer p{
    color:aliceblue;
    font-size:20px;
    line-height: 1;
}

.layer i{
    margin-top: 20px;
    font-size:28px;
    background-color: cyan;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 25px white,0 0 50px white;
}

.row:hover img{
    transform: scale(1.2);
}

.row:hover .layer{
    height: 100%;
}

.main-text .view a{
    display:inline-block;
    text-decoration: none;
    margin-top:50px;
    text-align:center;
}
.view{
    width: 100%;
    text-align:center;
}

.porfolio-content .row .layer a{
    
    text-decoration: none;
    
}

/******************** contact *************************/

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top:0px;
    padding-top: 120px;

}

.contact-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span{
    color: #0ef;
}

.contact-text h4{
    margin: 15px 0;
    color: rgba(177,177,177);
    font-size: 24px;
    font-weight: 600;
}

.contact-text p{
    color: rgba(177,177,177);
    font-size: 22px;
    line-height: 32px;
    margin-bottom:2rem;
}

.contact-list{
    margin-bottom: 3rem;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 25px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li i:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}


.contact-icon a{
    text-decoration: none;
}


.contact-icon i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 3px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    font-size: 35px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2x * var(--i));
}

.contact-icon i:hover{
    background-color: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef,
    0 0 40px #0ef ;
}

.contact-form form{
    position: relative;
}

.contact-form form input:focus{
    background:#555557;
}

.contact-form form input,form textarea,form button{
   
    border: none;
    outline: none;
    width: 90%;
    padding:20px;
    background:#555557;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 10px #0ef,
    0 0 25px #0ef;
    margin-top: 10px;
}


.contact-form form .send:hover{
    box-shadow: 0 0 10px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.last-text p{
    width: 100px;
    text-align: center;
    padding: 25px 0;
    background-color: rgb(7,85,91);
    font-weight: 300;
    margin-top: 70px;
    width: 100%;
    font-size: 18px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i{
    color: #000;
    background-color:#0ef;
    font-size: 24px;
    padding: 10px;
    border-radius: 0.5rem;
}

.top i:hover{
    box-shadow: 0 0 10px #0ef,
    0 0 25px #0ef;
}

.contact-form form input::placeholder{
    color: cyan;
   
}

.contact-form form textarea::placeholder{
    color: cyan;
}

.header-btn{
    display: none;
}







/**************************** mobile Device **********************/

@media all and (max-width:706px){
   

     
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

/* Home Sections */

body{
    color:#ededed;
    background-color: #081b29;
    
}


/******* navigation *********/



/* .nav-overlay{
    width:100vw;
    height:100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(8, 27, 41,0.8);
    z-index: 1;
    display: none;
} */


/******* navigation *********/

.nav-menu {
    position: fixed;
    left: -100%;
    top: 6.1rem;
    flex-direction: column;
    /* background-color: #fff; */
    background-color: #081b29;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-link {
    color: #fff;
}

.nav-menu.active {
    left: 0;
    z-index: 2;
}

.nav-item {
    margin: 1.5rem 5%;
}

.navbar{
    padding: 1.5rem 5%;
}

.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 20px;
}

.hamburger.active .bars:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bars:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bars:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


/******* navigation 


.

 navigation *********/

.home{
    position: relative;
    width:100vw;
    justify-content:space-between;
    background:url("../img/m4.png") no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    padding:50px 5% 0;
    margin-top:0px;
}

.home-content{
    margin-top:200px;
    max-width:294px;

}

.home-content h3{
    font-size:19px;
    font-weight:500;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3:nth-of-type(2){
    margin-bottom:30px;
    animation: slidetop 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 span {
    color:#0ef;
}

.home-content h1{
    font-size:30px;
    font-weight:600;
    margin:-3px 0;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size:16px;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    background: transparent;
    border: 3px solid #0ef;
    border-radius: 50%;
    font-size: 25px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    transition:0.5s;
    
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    margin-right:0px;
    margin-bottom: 20px;

}


.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}


@keyframes slideright{
    0%{
      transform: translateX(-100px);
      opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideleft{
    0%{
      transform: translateX(100px);
      opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slidetop{
    0%{
        transform: translateY(100px);
        opacity: 0;
      }
      100%{
          transform: translateY(0px);
          opacity: 1;
      }
}

@keyframes slidebottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
      }
      100%{
          transform: translateY(0px);
          opacity: 1;
      }
}





/* Home Sections */

/* about section */

.about{
   display:flex;
   flex-direction:column-reverse;
   align-items: center;
   justify-content: center;
   margin:50px 5% 0px;
}

.about-img img{
    padding-bottom:20% ;
    max-width:250px;
    width: 100%;
    border-radius:50%;
    margin-top:20px;
    animation: jump 1s ease infinite;

}

.about-text h2{
    font-size:36px;
    padding-top:120px;
}
.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: aliceblue;
    font-size:16px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


@keyframes jump {
    0%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);
    }
}

/* skills */



.sub-title{
    width: 100%;
    font-size:36px;
    text-align: center;
    margin-top:0px;
    padding-top:130px;
}
.sub-title span{
    color: #0ef;
}


/* skills */

.section-skill{
    display: flex;
    flex-wrap: wrap;

}

.container1{
    width:350px;
    padding:0px;
    margin-left:5%;
    
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset:10px;
    text-decoration-thickness: 5px;
    margin:50px;
}

.bar{
    font-size:25px;
}
.Technical-bar .bar{
   margin-top: 40px 0;
}

.Technical-bar .bar:first-child{
    margin-top: 0;
}

.Technical-bar .bar:last-child{
    margin-bottom: 0;
}

.Technical-bar .bar .info{
    margin-bottom: 5px;
}

.Technical-bar .bar .info span{
    font-size:20px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;
}

.progress-line{
    position: relative;
    border-radius: 10px;
    width:100%;
    height: 5px;
    background-color: #000000;
    margin-bottom:20px;
    transform-origin: left;
    transform: scaleX(0);
    animation:anana 1s linear forwards;

}

.progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    transform-origin: left;
    transform: scale(0);
    animation:anana 1s 1s linear forwards;
}

@keyframes anana{
    100%{
        transform:scaleX(1);
    }
}

.progress-line.html span{
    width: 95%;
}

.progress-line.sass span{
    width: 90%;
}

.progress-line.css span{
    width: 60%;
}

.progress-line.javascript span{
    width:50%;
}

.progress-line.react span{
    width:30%;
}

.progress-line.python span{
    width:75%;
}

.progress-line.mongo span{
    width: 90%;
}

.progress-line.git span{
    width:80%;
}

.progress-line.github span{
    width: 80%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
    content:"95%";
}

.progress-line.sass span::after{
    content:"90%";
}

.progress-line.css span::after{
    content: "60%";
}

.progress-line.javascript span::after{
    content: "50%";
}

.progress-line.react span::after{
    content: "30%";
}

.progress-line.python span::after{
    content: "75%";
}

.progress-line.mongo span::after{
    content:"90%";
}

.progress-line.git span::after{
    content:"80%";
}

.progress-line.github span::after{
    content:"80%";
}

.progress-line span::before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showtext 0.5s 1.5s linear forwards;
    opacity:0;
}

@keyframes showtext{
    100%{
     opacity: 1;
    }
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
   
}

.radial-bars .radial-bar{
    width: 35%;
    height: 170px;
    margin-bottom:50px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 100px;
    height: 140px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;

}

.path-1{
    animation: animate-path1 1s 1s linear forwards;
}

.path-2{
    animation: animate-path2 1s 1s linear forwards;
}

.path-3{
    animation: animate-path3 1s 1s linear forwards;
}

.path-4{
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2{
    100%{
        stroke-dashoffset:175;
    }
}

@keyframes animate-path3{
    100%{
        stroke-dashoffset:50;
    }
}

@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-size: 20px;
   animation: showtext 0.5s 1s linear forwards;
   opacity: 0; 
}

.radial-bar .text{
    width:100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size:16px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
    opacity: 0;

}










/* skills */

/*********** project ************/

#project{
    width:100vw;
    display: flex;
    flex-direction: column;

}
.main-text{
    margin:0px;
    padding: 0;
}

.main-text h2{
    
    font-size:36px;
    margin-bottom: 20px;
    padding-top:90px;
    padding-left: 0;
    margin-top:30px;
    margin-bottom: 100px;
}
.main-text span{
    color: #0ef;
}

.porfolio-content{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    
}

.row{
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img{
    width:280px;
    height: 300px;
    border-radius:8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    transition: hight 0.5s;

}

.layer h5{
    color:cyan;
    font-size: 20px;
    font-weight:600;
    margin-bottom: 15px;
}

.layer p{
    color:aliceblue;
    font-size:20px;
    line-height: 1;
}

.layer i{
    margin-top: 20px;
    font-size: 24px;
    background-color: #0ef;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.2);
}

.row:hover .layer{
    height: 100%;
}


/******************** contact *************************/

.contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left:20px;
    margin-top:10px;
    overflow: hidden;

}

.contact-text h2{
    font-size:36px;
    line-height: 1;
    text-align: center;
    padding-top:0px;
}

.contact-text h2 span{
    color: #0ef;
}

.contact-text h4{
    margin: 15px 0;
    color: rgba(177,177,177);
    font-size: 24px;
    font-weight: 600;
}

.contact-text p{
    color: rgba(177,177,177);
    font-size:20px;
    text-align:justify;
    line-height:30px;
    margin-bottom:2rem;
    word-spacing: 0px;
    padding-right: 10px;
}

.contact-list{
    margin-bottom: 3rem;

}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 25px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li i:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icon i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 3px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    font-size: 25px;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2x * var(--i));
}

.contact-icon i:hover{
    background-color: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef,
    0 0 40px #0ef ;
}

.contact-form form{
    position: relative;
}

.contact-form form input,form textarea,form button{
   
    border: none;
    outline: none;
    width: 90%;
    padding:20px;
    background:#555557;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 10px #0ef,
    0 0 25px #0ef;
    margin-bottom:50px;
    margin-top: 10px;
}

.contact-form form .send:hover{
    box-shadow: 0 0 10px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.last-text p{
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    background-color:rgb(7,85,91);
    margin-top:0px;
    width: 100%;
    font-size:16px
}
.top{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
}

.top i{
    color: #000;
    background-color:#0ef;
    font-size: 22px;
    padding:8px;
    border-radius: 0.5rem;
    
}

.top i:hover{
    box-shadow: 0 0 10px #0ef,
    0 0 25px #0ef;
}

.contact-form form input::placeholder{
    color: cyan;
}

.error-text{
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin-bottom: -5px 0 10px;
}


/* Academic joureny */

.Education{
    width: 100vw;
    margin:0px;
    padding-top:130px;
  
  
  }
  
  .Education .education-topic h2{
      font-size:36px;
      text-align: center;
      margin-bottom: 20px;
   
      
  }
  
  .Education .education-topic i{
      font-size: 34px;
      font-weight:200;   
  }
  
  
  .education-topic h2 span{
      color: #0ef;
  }
  
  .education-flex{
      display: flex;
      width: 100vw;
      justify-content:center;
      flex-wrap: wrap;
      gap:50px;
      
  }
  
  .eduction-card{
   width:350px;
   background-color: cyan;
   color:#081b29;
   padding:40px 30px;
   outline: none;
   border:none;
   position: relative;
   cursor: pointer;
   border-radius: 30px;
   box-shadow: cyan 0px 2px 4px 0px,
       cyan 0px 2px 16px 0px;
  transition:.5s transform;
  transition: all .5s;
  text-align: center;
  
  
  }
  
  .edu-experience-topic{
      display:flex;
      justify-content: center;
      align-items: center;
      place-items: center;
      text-align: center;
      margin-bottom: 20px;
  }
  
  .edu-experience-topic img{
   width:40px;
  }
  
  .edu-experience-topic h3{
      font-size:24px;
      letter-spacing: 2px;
  }
  
  .company-about h4{
      font-size:22px;
      letter-spacing: 0px;
      
  }
  .company-about h5{
      font-size:18px;
      letter-spacing: 0px;
      font-weight:600;
      
  }
  
  .company-about p{
      font-size: 16px;
  }
  
  .hover-icon i{
      position: absolute;
      right: 2rem;
      bottom: 1rem;
      font-size: 22px;
      font-weight: 400;
  }
  
  .eduction-card:hover{
      box-shadow: white 0px 2px 4px 0px,
       white 0px 2px 16px 0px;
      background-color: white;
  }
  
  .eduction-card:hover .hover-icon i{
      transform: translateX(5px);
  }
  
  .book h3{
      margin-bottom: -15px;
  }
  
  
  .college h3{
  font-size:20px;
  }
  
  .college h4{
      font-size:18px;
      letter-spacing: 0px;
      font-weight:600;
  }
  
  .college h5{
      text-align:right;
      font-size: 18px;
      font-weight:400;
  }
  
  .college p{
      font-size: 18px;
      margin-top: 0px;  
  }
  .education-clg-sch{
      margin-bottom: 10px;
  }
  
  .education-clg-sch .ten{
      margin-top: -10px;
  }
  
  
  
  /* Academic joureny */



}